body{
  margin: 0;
}
.Verde {
  background-color: #006400;
  color: white;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo{
  font-size: 4em;
  font-weight: black;
  margin: 0;
  padding: 0;
  color: black;
}