body{
  margin: 0;
}
.Verde {
  position: relative;
  background-color: #006400;
  color: white;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo{
  font-size: 4rem;
  font-weight: black;
  margin: 0;
  padding: 0;
  color: black;
}

.subtitulo{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}

.Azul {
  background-color: #1060FF;
  color: white;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coluna{
  flex-basis: 33.33%;
  padding: 1rem;
  text-align: center;
  line-height: 2;
  font-family: Arial;
}

.texto{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}

.botao{
  width: 5.5rem;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background: linear-gradient(202deg, #00FF1A 8.58%, #0C5900 91.42%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Cinza{
  background-color: #D9D9D9;
  color: black;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tCalc{
  font-size: 2.5rem;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5;
  padding: 0;
  color: black;
  text-align: center;
  line-height: 3rem;
  width: 35%;
}

.caixona{
  width: 50rem;
  height: 30rem;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 30rem;
  background-color: gray;
}

.c2T{
  font-size: 2.5rem;
  justify-content: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75rem;
  padding: 0;
  color: black;
  text-align: center;
  line-height: 2.5rem;
}

.Qtd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c2Tz{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: 0.5rem;
  padding: 0;
  color: black;
}

.res{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  width: 10rem;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.c1{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 30rem;
}

.caixa1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3B70F9;
  width: 15rem;
  height: 7.5rem;
}

.caixa2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F52E2E;
  width: 15rem;
  height: 7.5rem;
}

.caixa3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FCF42D;
  width: 15rem;
  height: 7.5rem;
}

.caixa4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2CA138;
  width: 15rem;
  height: 7.5rem;
}

.Cinza2{
  background-color: #D9D9D9;
  color: black;
  height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabela{
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
}

.tabela th{
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  background-color: #cccd;
}

.tabela td{
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.home{
  position: absolute;
  font-size: 3.5rem;
  top: 0px;
  left: 10px;
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.Cinza3{
  background-color: #D9D9D9;
  color: black;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitulo2{
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10;
  padding: 0;
  color: black;
  text-align: center;
  width: 50%;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.entrar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.textinho{
  font-size: 1.5rem;
  font-weight: 200;
  font-style: normal;
  margin: 0.5rem;
  color: black;
}