@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500;700&family=Titillium+Web&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E1C21;
    height: 91px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 700px;
    display: flex;
    justify-content:space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
}

.icone-menu{
    height: 40px;
}

.banner {
    height: 602px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-1{
    background-image: url(img/banner1.png);
}

.posicionamento-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.conteudo-banner{
    width: 497px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo-banner h1 {
    color: black;
    font-family: "Titillium Web";
    font-size: 80px;
}

.conteudo-banner p{
    color: black;
    font-family: "Roboto";  
    font-size: 25px;
    text-align: center;
}

.secao-sobre {
    background-image: url(img/fundo-sobre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.texto-sobre h2 {
    margin-bottom: 2rem;
}

footer {
  background-color: black;
}

.rodape {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    color: white;
}

.links-footer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.links-footer h2 {
    font-family: 'Titillium Web';
    font-size: 24px;
}

.links-footer a {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.links-footer a:hover {
    color: #0d6efd;
}

.sociais {
    width: 31%;
}

.sociais p {
    font-family: 'Titillium Web';    
}

.sociais form {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 37px;
    width: 60%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;
}

.sociais input[type="email"]::placeholder {
    color: #B8B3B3;
    font-weight: bold;
}

.sociais button{
    width: 30%;
    color: white;
    background-color: #001F70;
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;
}

.siga-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;
}

.siga-nos h2 {
    font-family: 'Titillium Web';
    font-size: 23px;
}

@media screen and (max-width: 1200px){
    .container-grid{
        width: 85vw;
    }

    .banner h1{
        color:#FFD700
    }
}

@media screen and (max-width: 1000px){
    #barras{
        display: inline-block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 91px;
        right: 0px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: #1E1C21;
        height: 400px;
    }

    .menu a{
        font-size: 20px;
    }

    .menu-ativo{
        display: flex;
    }

    .cabecalho{
        position: relative;
    }
}

.titulo{
  font-size: 4rem;
  font-weight: black;
  margin: 0;
  padding: 0;
  color: black;
}

.subtitulo{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}

.Azul {
  background-color: #1060FF;
  color: white;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coluna{
  flex-basis: 33.33%;
  padding: 1rem;
  text-align: center;
  line-height: 2;
  font-family: Arial;
}

.texto{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}

.botao{
  width: 5.5rem;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background: linear-gradient(202deg, #00FF1A 8.58%, #0C5900 91.42%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Cinza{
  color: black;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tCalc{
  font-size: 2.5rem;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5;
  padding: 0;
  color: black;
  text-align: center;
  line-height: 3rem;
  width: 35%;
}

.caixona{
  width: 50rem;
  height: 30rem;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 30rem;
  background-color: gray;
}

.c2T{
  font-size: 2.5rem;
  justify-content: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75rem;
  padding: 0;
  color: black;
  text-align: center;
  line-height: 2.5rem;
}

.Qtd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c2Tz{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: 0.5rem;
  padding: 0;
  color: black;
}

.res{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  width: 10rem;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.c1{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 30rem;
}

.caixa1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3B70F9;
  width: 15rem;
  height: 7.5rem;
}

.caixa2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F52E2E;
  width: 15rem;
  height: 7.5rem;
}

.caixa3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FCF42D;
  width: 15rem;
  height: 7.5rem;
}

.caixa4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2CA138;
  width: 15rem;
  height: 7.5rem;
}

.Cinza2{
  color: black;
  height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabela{
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
}

.tabela th{
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  background-color: #cccd;
}

.tabela td{
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.home{
  position: absolute;
  font-size: 3.5rem;
  top: 0px;
  left: 10px;
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.Cinza3{
  color: black;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitulo2{
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10;
  padding: 0;
  color: black;
  text-align: center;
  width: 50%;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.entrar{
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.textinho{
  font-size: 1.5rem;
  font-weight: 200;
  font-style: normal;
  margin: 0.5rem;
  color: black;
}

.submeter{
  width: 21.25rem;
  height: 3rem;
  fill: #D9D9D9;
  stroke-width: 1px;
  stroke: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.5rem;
  font-weight: 200;
  font-style: normal;
  margin-top: 4rem;
}

@media screen and (max-width: 1200px){
  .container-grid{
      width: 85vw;
  }

  .banner h1{
      color:#FFD700
  }
}

@media screen and (max-width: 1000px){
  #barras{
      display: inline-block;
  }
  .menu{
      display: none;
      position: absolute;
      top: 91px;
      right: 0px;

      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      background-color: #1E1C21;
      height: 400px;
  }

  .menu a{
      font-size: 20px;
  }

  .menu-ativo{
      display: flex;
  }

  .cabecalho{
      position: relative;
  }
}